.player{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #11270B;

    width: 100%;
    height: 100%;

    

    color: white;

    flex-wrap: wrap;
}

.progress-bar{
    width: 80%;
}



.play-btn{
    display: flex;
    align-items: center;

    font-size: 2.4rem;
    cursor: pointer;
    
}

.ihover{
    transition: 0.2s;
}
.ihover:hover{
    color: #f5fcd8;
}

.artist{
    font-size: small;
}

@media only screen and (max-width: 480px){
    .hide-on-mobile{
        display: none;
    }

    .progress-bar{
        width: 95%;
    }
    .bellow-pbar{
        width: 95%;
    }
}

.player-img{
    max-width: 3rem;
    margin-right: 0.5rem;
}

.bellow-pbar{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}