.song{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0000004f;
    color: rgb(255, 255, 255);
    
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;

    padding: 0.5rem 0.5rem;
    transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;

    margin: 0.1rem 0;

    height: 100%;
    animation: fade 0.4s;
}

.song-data{
    flex-grow: 2;
    padding-left: 1rem;
}

@media only screen and (min-width: 481px){
    .song:hover{
        box-shadow: 0 0 5px gray;
    }
    .song{
        width: 80%;
        align-self: center;
    }
    .star-div:hover{
        color: yellow;
    }
}


.song:hover{
    background-color: rgb(49, 49, 49);
    color: white;
}

.artista{
    font-size: 0.9rem;
}

.song-cover{
    max-width: 3rem;
}

.star-div{
    
    font-size: 1.6rem;
    
}


@keyframes fade {
    0% {opacity: 0;}
    100% {opacaity: 1;}
}

