
.header{
    display: flex;
    align-items: center;
    height: 7%;
    background-color: #412234;
}
.body{

    height: 85%;
    overflow: auto;
}
.footer{
    
    height: 8%;
}

.all{
    height: 100vh;
    
}

.nav-item{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 0.3rem;
    font-size: large;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track o camino por donde se desplaza la barra */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 75, 173); 
    border-radius: 10px;
  }

  .vertical-flex{
      display: flex;
      flex-direction: column;
  }

  .justify-center{
      justify-content: center;
  }

  .align-center{
      align-items: center;
  }

  .background-blur{
    backdrop-filter: blur(5px);
  }